:root {
    --colorBiseles: #757575;
    --colorLetras: white;
}

@font-face {
    font-family: 'retroGame';
    src: url(FONTs/Retro\ Gaming.ttf);
}

* {
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--colorLetras);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: black;
    font-family: 'retroGame';
    text-align: center;
}

.header, #tetris, .adicional {
    user-select: none;
    cursor: pointer;
}

.header {
    outline: 5px groove var(--colorBiseles);
    border: 1px solid black;
    background-color: black;
    font-size: 16px;
    width: 394px;
    margin: 10px 10px 20px;
}

.header > p {
    display: inline-block;
}

#tetris {
    outline: 5px groove var(--colorBiseles);
    background: url('../IMGs/Fondo.gif');
    border: 1px solid black;
    height: 262px;
    width: 246px;
    margin: 0px 10px 10px;
    float: left;
}

.puntuacion > p, .lineas > p, .nivel > p {
    padding: 2px 0px;
    font-size: 12px;
}

.puntuacion {
    border: 3px groove var(--colorBiseles);
    margin: 9px 0px 0px 9px;
    height: 25px;
    width: 108px;
    float: left;
}

.lineas {
    border: 3px groove var(--colorBiseles);
    margin: 9px 8px 10px 10px;
    height: 25px;
    width: 108px;
    float: left;
}

.estadisticas {
    border: 3px groove var(--colorBiseles);
    margin: 0px 0px 10px 9px;
    font-size: 12px;
    height: 208px;
    width: 108px;
    float: left;
}

.estadisticas > p {
    text-decoration: underline;
    margin-top: 2px;
}

.estadisticas > ul {
    list-style-type: none;
    padding: 1px 0px;
    margin-top: 6px;
}

.estadisticas > ul > li {
    margin: 4px 0px 4px 9px;
    height: 20px;
}

.estadisticas > ul > li > p {
    font-size: 12px;
    padding: 2px;
    color: red;
}

.estadisticas > ul > li > img {
    margin-left: 10px;
    float: left;
}

.estadisticas > ul > li:nth-of-type(4) > img {
    margin-left: 19px;
}

.estadisticas > ul > li:nth-of-type(7) > img {
    margin-left: 1px;
    margin-top: 5px;
}

.tablero {
    outline: 3px groove var(--colorBiseles);
    border: 1px solid black;
    margin: 3px 9px 10px 13px;
    height: 202px;
    width: 102px;
    float: left;
}

.adicional {
    outline: 5px groove var(--colorBiseles);
    background-color: black;
    border: 1px solid black;
    margin-left: 10px;
    height: 262px;
    width: 128px;
    float: left;
}

.nivel {
    border: 3px groove var(--colorBiseles);
    margin: 9px 9px 10px;
    height: 25px;
    width: 108px;
}

.next {
    border: 3px groove var(--colorBiseles);
    margin: 9px 9px 10px;
    height: 108px;
    width: 108px;
}

.musica {
    border: 3px groove var(--colorBiseles);
    margin: 9px 9px 10px;
    height: 90px;
    width: 108px;  
}

.musica > a {
    display: block;
    font-size: 11px;
    margin: 6px 0px;
}

.musica > a:nth-of-type(1) {
    margin-top: 5px;
}

.musica > a:hover:not(.activo) {
    color: var(--colorBiseles);
}

.musica > a:hover:not(.activo)::before {
    content: '► ';
}

.musica > a:hover:not(.activo)::after {
    content: ' ◄';
}